<div id="article-edit" class="page-layout carded fullwidth" pyxisPerfectScrollbar>

  <div class="top-bg mat-accent-bg"></div>

  <div class="center">

    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">

      <div fxLayout="row" fxLayoutAlign="start center">

        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/article-management/category/' + selectedCategory">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start" *pyxisIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{article.title}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Article
          </div>
          <div class="subtitle secondary-text">
            <span>Article Detail</span>
          </div>
        </div>
      </div>

      <div class="select-category-wrapper mx-24 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field fxFlex="1 0 auto">
          <mat-select [(value)]="selectedCategory" placeholder="Select Category" class="w-100-p">
            <mat-option *ngFor="let category of categories" [value]="category.value">
              {{ category.showString }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <button mat-raised-button class="save-article-button mat-white-bg mt-16 mt-sm-0 mr-12">
          <mat-icon class="primary-500-fg mr-4">remove_red_eye</mat-icon>
          <span>PREVIEW</span>
        </button>

        <button mat-raised-button class="save-article-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='new'" (click)="addArticle()">
          <mat-icon class="primary-500-fg mr-4">add_circle</mat-icon>
          <span>ADD</span>
        </button>

        <!-- <button mat-raised-button class="save-article-button mat-white-bg mt-16 mt-sm-0" [disabled]="articleForm.invalid || articleForm.pristine" -->
        <button mat-raised-button class="save-article-button mat-white-bg mt-16 mt-sm-0" *ngIf="pageType ==='edit'" (click)="saveArticle()">
          <mat-icon class="primary-500-fg mr-4">save</mat-icon>
          <span>SAVE</span>
        </button>
      </div>
    </div>

    <div class="content-card mat-white-bg">

      <div class="toolbar px-24 py-8">

        <span>Set the article title, description and content.</span>

      </div>


      <div class="content p-24" fxLayout="column" pyxisPerfectScrollbar>

        <div>
          <form name="articleForm" [formGroup]="articleForm" class="article w-100-p" fxLayout="column" fxFlex>

            <mat-form-field class="w-100-p mb-20">
              <input matInput name="title" formControlName="title" placeholder="Title" required>
            </mat-form-field>

            <mat-form-field class="w-100-p">
              <textarea matInput name="description" formControlName="description" placeholder="Description" rows="3" required>
              </textarea>
            </mat-form-field>

          </form>
        </div>

        <div class="mt-24">
          <editor apiKey="h9tfr8m3gpnbnc8nq5qh45w2pfc869z93y09fnxc18rrtyxc" cloudChannel="dev" [init]="tinymceSettings" [(ngModel)]="articleContent">
          </editor>
        </div>

      </div>

    </div>

  </div>

</div>