<div id="category" class="page-layout carded fullwidth">

  <div class="top-bg mat-accent-bg"></div>

  <div class="center">

    <div class="header white-fg" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

      <div class="logo my-12 m-sm-0" fxLayout="row" fxLayoutAlign="start center">
        <button class="mr-0 mr-sm-16" mat-icon-button [routerLink]="'/article-management/cateegories'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2">
            {{dataSource.categoryService.category.title}}
          </div>
          <div class="subtitle secondary-text">
            <span>Articles</span>
          </div>
        </div>
      </div>

      <div class="search-input-wrapper mx-12 m-md-0" fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
        <label for="search" class="mr-8">
          <mat-icon class="secondary-text">search</mat-icon>
        </label>
        <mat-form-field floatPlaceholder="never" fxFlex="1 0 auto">
          <input id="search" matInput #filter placeholder="Search">
        </mat-form-field>
      </div>

      <button mat-raised-button [routerLink]="'/article-management/article-edit/new/' + categoryId" class="add-article-button mat-white-bg my-12 mt-sm-0">
        <span>NEW ARTICLE</span>
      </button>

    </div>

    <div class="content-card mat-white-bg">

      <mat-table class="category-table" #table [dataSource]="dataSource" matSort *pyxisIfOnDom [@animateStagger]="{value:'50'}">

        <ng-container cdkColumnDef="title">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Title</mat-header-cell>
          <mat-cell *cdkCellDef="let article">
            <p class="text-truncate">{{article.title}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="description">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Description</mat-header-cell>
          <mat-cell *cdkCellDef="let article">
            <p class="text-truncate">{{article.description}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="updatedAt">
          <mat-header-cell *cdkHeaderCellDef mat-sort-header>Updated at</mat-header-cell>
          <mat-cell *cdkCellDef="let article">
            <p class="text-truncate">{{article.updatedAt}}</p>
          </mat-cell>
        </ng-container>

        <ng-container cdkColumnDef="buttons">
          <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
          <mat-cell *cdkCellDef="let article">
            <div fxFlex="row" fxLayoutAlign="end center">
              <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                <mat-icon>more_vert</mat-icon>
              </button>

              <mat-menu #moreMenu="matMenu">
                <button mat-menu-item aria-label="edit" [routerLink]="'/article-management/article-edit/' + article._id">
                  <mat-icon>edit</mat-icon>
                  <span>Edit</span>
                </button>

                <button mat-menu-item aria-label="remove" (click)="deleteArticle(article)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </div>

          </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

        <mat-row *cdkRowDef="let article; columns: displayedColumns;" class="article" matRipple [routerLink]="" [@animate]="{value:'*',params:{y:'100%'}}">
        </mat-row>

      </mat-table>

      <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>

    </div>

  </div>

</div>
