<div id="main-navigation" class="nav" [ngClass]="{'horizontal':layout === 'horizontal', 'vertical':layout === 'vertical'}">

  <ng-container *ngIf="layout === 'vertical'">

    <ng-container *ngFor="let item of navigation">

      <pyxis-nav-vertical-group *ngIf="item.type=='group'" [item]="item"></pyxis-nav-vertical-group>
      <pyxis-nav-vertical-collapse *ngIf="item.type=='collapse'" [item]="item"></pyxis-nav-vertical-collapse>
      <pyxis-nav-vertical-item *ngIf="item.type=='item'" [item]="item"></pyxis-nav-vertical-item>

    </ng-container>

  </ng-container>

</div>
